/* fonts */
@font-face {
    font-family: AvenirRoman;
    src: url("../fonts/Avenir-roman.ttf");
}

@font-face {
    font-family: AvenirMedium;
    src: url("../fonts/Avenir-medium.ttf");
}

@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/Avenir\ -black.ttf")
}

/* custom properties */
:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #D50000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}




/* website */
body {
    background-color: var(--body-color);
    font-family: AvenirMedium;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    /*border-bottom: 0.05rem solid black;*/
}

header .logo {
    width: 7rem; 
}

.search-bar {
    height: 1rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 0.05rem  solid black;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 1rem;
    margin-right: 1rem;
}

.search-bar i {
    min-width: 2rem;
    color: black;
    font-size: 20px;
    
}

.search-bar input {
    width: 7rem;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}