/* fonts */
@font-face {
    font-family: AvenirRoman;
    src: url("../fonts/Avenir-roman.ttf");
}

@font-face {
    font-family: AvenirMedium;
    src: url("../fonts/Avenir-medium.ttf");
}

@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/Avenir\ -black.ttf")
}

/* custom properties */
:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #D50000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* fonts */


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* website */
body {
    background-color: var(--body-color);
    font-family: AvenirMedium, sans-serif;
    width: 100%;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-bottom: 0.01rem solid black;
    z-index: 100;
}

header .logo {
    width: 7rem; 
    margin: 0.5rem;
}
/*
.search-bar {
    height: 1rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 0.05rem  solid black;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 1rem;
    margin-right: 1rem;
}

.search-bar i {
    min-width: 1rem;
    color: #707070;
    font-size: 20px;
}

.search-bar input {
    width: 8rem;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
*/

.search-bar {
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 1rem;
    margin-right: 1rem;
}

.search-bar i {
    min-width: 1rem;
    color: #707070;
    font-size: 20px;
}

.search-bar input {
    width: 12rem;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.user-account {
    display: flex;
    align-items: center;
}

.user-image img {
    width: 3rem;
    /*border: 0.01rem solid black;*/
    border-radius: 2rem;
    margin-right: 1rem;
}

.user-information {
    color: #707070;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.membership {
    font-size: 1rem;
    font-weight: 500;
}

/* menu bar closed */
.menu {
    position: fixed;
    top: 76px;
    left: 0;
    width: 2rem;
    height: 100vh;
    background-color: white;
    color: #707070;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border-right: 0.01rem solid black;
    z-index: 100;
}

.menu:hover {
    color: #000;
}

/* sidebar */
nav {
    position: fixed;
    top: 92px;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-color: white;
    border-right: 0.01rem solid black;
    z-index: 100;
}

/* list items */
.nav-link {
    /*height: 50px;*/
    padding: 1rem;
    list-style: none;
    border-radius: 0.5rem;
    /*margin-top: 0.2rem;*/
}

.nav-link a {
    color: #707070;
    font-size: 1rem;
    text-decoration: none;
}

.nav-link i {
    margin: 0.2rem;
    font-size: 1.2rem;
    height: 100%;
}

.nav-link .nav-text {
    font-size: 1rem;
}

/* list buttons modus */
.nav-link:hover {
    background-color: #ff0000;
}

.nav-link a:hover {
    color: white;
}

/* main */

main {
    position: absolute;
    top: 92px;
    left: 15rem;
    /*width: calc(100%-15rem);*/
    width: 100%;
    margin: 1rem;
    color: #707070;
}

h1 {
    font-size: 1.5rem;
    color: black;
}

h2 {
    font-size: 0.8rem;
}

.products {
    margin-top: 2rem; 
}

h3 {
    font-size: 1.2rem;
}

.product-group {
    display: flex;
    overflow: scroll;
}

article {
    margin: 1rem;
    text-align: center;
    width: 15rem;
}

img, h5, button {
    margin-top: 1rem;
}

article img {
    width: 15rem;
    height: 22rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem #d9d9d9;
}

article button {
    border: none;
    border-radius: 2rem;
    padding: 0.8rem;
    width: 7rem;
    font-size: 1rem;
    background-color: #707070;
    color: white;
}

article button:hover {
    background-color: #444444;
    color: white;
}

article button:active {
    background-color: black;;
    color: white;
}


/* responsive */

/* expandable search-bar */
@media screen and (max-width: 40rem) {
    .search-bar input {
        width: 0rem;
    }

    .search-bar:hover input {
        width: 6rem;
    }
}

@media screen and (min-width: 40rem) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 60rem) { 
    h1 {
        font-size: 3rem;
    }
}