/* imported fonts */
@font-face {
    font-family: AvenirRoman;
    src: url("../fonts/Avenir-roman.ttf");
}

@font-face {
    font-family: AvenirMedium;
    src: url("../fonts/Avenir-medium.ttf");
}

@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/Avenir\ -black.ttf")
}

:root {
    /* colors */
    --body-color:#e4e9f7;
    --text-grey-color: #707070;
    --accent-color: #ff0000;
    --white-background-color: #fff;
    --black-color: #000;

    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;

    /* styling */
    --medium-padding: 1rem;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    font-family: AvenirMedium, sans-serif;
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92px;
    padding: var(--medium-padding);
    background-color: var(--white-background-color);
    border-bottom: 0.01rem solid black;
}

header .logo {
    width: 7rem; 
    margin: 0.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-right: 1rem;
    background-color: var(--body-color);
    border: 0.01rem solid black;
    border-radius: 2rem;
    transition: var(--tran-05);
    padding: var(--medium-padding);
}

.search-bar i {
    min-width: 1rem;
    color: #707070;
    font-size: 20px;
}

.search-bar input {
    width: 12rem;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.user-account {
    display: flex;
    align-items: center;
}

.user-image img {
    width: 3rem;
    border: 0.01rem solid black;
    border-radius: 2rem;
    margin-right: 1rem;
}

.user-information {
    color: #707070;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.membership {
    font-size: 1rem;
    font-weight: 500;
}

nav {
    position: fixed;
    top: 92px;
    left: 0;
    width: 15rem;
    height: 100vh;
    background-color: var(--white-background-color);
    z-index: 100;
    opacity: 1;
}

nav .toggle {
    position: absolute;
    top: 8%;
    right: -15px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--accent-color);
    color: var(--white-background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.nav-list {
    color: var(--text-grey-color);
    opacity: 1;
}

.nav-link {
    padding: var(--medium-padding);
    list-style: none;
    border-radius: 0.5rem;
}

.nav-link a {
    color: var(--text-grey-color);
    font-size: 1rem;
    text-decoration: none;
}

.nav-link i {
    margin: 0.2rem;
    font-size: 1.2rem;
    height: 100%;
}

.nav-link .nav-text {
    font-size: 1rem;
}

.nav-link:hover {
    background-color: var(--accent-color);
}

.nav-link a:hover {
    color: var(--white-background-color);
}

nav .mode {
    border-radius: 0.5rem;
    background-color: var(--body-color);
    position: relative;
    transition: var(--tran-05);
    margin: 0.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-bar .mode .sun-moon {
    color: var(--text-grey-color);
    font-size: 1rem;
}

.mode .sun-moon i {
    margin: 0.2rem;
    font-size: 1.2rem;
    height: 100%;
    margin-left: 1rem;
}
.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--accent-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--white-background-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

nav .contrast {
    border-radius: 0.5rem;
    background-color: var(--body-color);
    position: relative;
    transition: var(--tran-05);
    margin: 0.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-bar .contrast .low-high {
    color: var(--text-grey-color);
    font-size: 1rem;
}

.contrast .low-high i {
    margin: 0.2rem;
    font-size: 1.2rem;
    height: 100%;
    margin-left: 1rem;
}

.contrast .low-high i.low {
    opacity: 0;
}

body.dark .contrast .low-high i.low {
    opacity: 1;
}

body.dark .contrast .low-high i.high {
    opacity: 0;
}

main {
    position: absolute;
    top: 92px;
    left: 15rem;
    /*width: calc(100%-15rem);*/
    width: 100%;
    height: 100vh;
    margin: 1rem;
    color: var(--text-grey-color);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 0.8rem;
}

.container {
    margin-top: 2rem; 
}

h3 {
    font-size: 1.2rem;
}

.carousel {
    display: flex;
    margin: 0 1rem 0 1rem;
}

.carousel-btn {
    background-color: var(--white-background-color);
    color: var(--text-grey-color);
    font-size: 0.8rem;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-top: 12rem;
}

.carousel-btn:hover {
    background-color: var(--accent-color);
    color: var(--white-background-color);
}

.carousel-btn:active {
    font-size: 1rem;
}

.items {
    display: flex;
    overflow: scroll;
}

.items::-webkit-scrollbar {
    display: none;
}

.item {
    margin: 1rem;
    text-align: center;
    width: 15rem;
}

img, h5, .item button {
    margin-top: 1rem;
}

.item img {
    width: 15rem;
    height: 22rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem #d9d9d9;
}

.item button {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    width: 7rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--white-background-color);
    color: var(--text-grey-color);
}

.item button:hover {
    background-color: #444444;
    color: var(--white-background-color);
}

.item button:active {
    background-color: var(--black-color);;
    color: var(--white-background-color);
}

/* expandable search-bar */
@media screen and (max-width: 40rem) {
    .search-bar input {
        width: 0rem;
    }

    .search-bar:hover input {
        width: 6rem;
    }
}

/* responsive */
@media screen and (min-width: 40rem) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .item img {
        width: 12rem;
        height: 17rem;
    }
}